@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global Styles */

:root {
  --primary-color: #f17d3e;
}

* {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #efefef;
}

/* @font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
} */

html,
body {
  max-width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
  /* scroll-behavior: smooth; */
}

@media screen and (max-width: 650px) {

  html,
  body {
    width: 100%;
    max-width: 100%;
  }
}

main {
  width: auto;
}

/* Header Styles */

.header {
  top: 0;
  position: sticky;
  z-index: 10;
}

.header__nav {
  width: 100%;
  height: 6.5em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 4em;
  background-color: var(--primary-color);
}

.header__nav--logo {
  height: 60px;
  margin-left: 1.5em;
}

.header__nav--menu {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  font-family: Roboto;
  font-weight: 500;
  padding: 0;
  width: auto;
  gap: 3em;
}

.header__nav--menu_articulo,
.header__nav--menu_articulo-a {
  font-family: 'Poppins', sans-serif;
  display: flex;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  flex-wrap: nowrap;
  border-bottom: 2px solid rgba(239, 239, 239, 0);
  transition: all 500ms ease;
  padding: 0 .05em;
}

.header__nav--menu_articulo:hover {
  border-bottom: 2px solid #efefef;
}

.header__icons {
  font-size: 1.5em;
  color: #efefef;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 900px) {
  .header__nav--menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 6.5em;
    right: 0;
    bottom: 0;
    background: rgba(60, 60, 60, 0.77);
    width: 45%;
    transform: translateX(400px);
    transition: transform 0.3s ease-in-out;
  }

  .header__icons {
    display: block;
  }

  .header__icons #close {
    display: none;
  }
}

/* Main Styles */

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - 6.5em);
  border-bottom: 2px solid #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1350px) {
  .main {
    width: 100%;
    max-width: 100%;
  }
}

.main__container {
  position: relative;
  width: 50%;
  height: 40%;
  display: flex;
}

.main__container--conlogo {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container--logo {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}

.main__container--info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3em;
  gap: 1em;
}

.main__container--title {
  border-bottom: 2px solid #585858;
  padding-bottom: 0.3em;
  font-size: 3rem;
  /* letter-spacing: .1em; */
  font-weight: bold;
  color: #1a1a1f;
}

.main__container--paragraph {
  font-size: 1.2rem;
  font-weight: 300;
  color: #1a1a1f;
}

@media screen and (max-width: 1350px) {
  .main__container {
    position: relative;
    flex-direction: column;
    height: 75%;
    width: 40%;
    gap: 2em;
  }

  .main__container--info {
    margin-left: 0;
    padding: 0;
  }

  .main__container--conlogo {
    align-self: flex-start;
  }
}

@media screen and (max-width: 1000px) {
  .main__container {
    width: 80%;
  }

  .main__container--conlogo {
    max-width: 230px;
    min-width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .main {
    padding: 6em 0;
    height: auto;
  }
}

/* About Us Styles */

.aboutus {
  position: relative;
  width: 100%;
  height: calc(100vh - 6.4em);
  display: flex;
  place-items: center;
  justify-content: center;
  background-image: url(img/vista1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-size: 120%;
  border-bottom: 2px solid #c7c7c7;
}

@media screen and (max-width: 650px) {
  .aboutus {
    width: 100%;
    max-width: 100%;
  }
}

.aboutus__info {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.7);
  flex-direction: column;
  justify-content: center;
}

.aboutus__info--title {
  position: relative;
  left: 7.5%;
  display: inline-block;
  width: 40%;
  padding-bottom: 0.5em;
  color: #efefef;
  font-size: 2.25rem;
  font-weight: 600;
  border-bottom: 2px solid #efefef;
}

.aboutus__info--paragraph {
  position: relative;
  left: 7.5%;
  display: inline-block;
  width: 40%;
  height: auto;
  color: #efefef;
  line-height: 2em;
  margin-top: 0.75em;
  font-weight: 300;
}

@media screen and (max-width: 650px) {
  .aboutus__info {
    align-items: center;
  }

  .aboutus__info--title,
  .aboutus__info--paragraph {
    width: 80%;
    left: 0;
  }
}

/* Works Styles */

.works {
  width: 100%;
  height: calc(100vh - 6.5em);
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 3.5em;
}

@media screen and (max-width: 1040px) {
  .works {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 2em 0;
  }
}

.works__title {
  display: inline-block;
  width: 80%;
  color: #353535;
  font-size: 2.25rem;
  letter-spacing: 0.075em;
  font-weight: 600;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #808080;
  text-align: center;
}

.works__instalations {
  min-height: auto;
  width: 80%;
  min-width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.works__article {
  position: relative;
  /* height: auto; */
  width: 22%;
  min-width: 20%;
  background-color: #e6e6e6;
  padding: 1.25em .8em;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  justify-content: center;
  object-fit: scale-down;
  transition: all 0.5s ease;
}

.works__article:hover {
  box-shadow: 0 0 15px 6px rgba(117, 117, 117, 0.4);
  transform: scale(1.05);
}

.works__image {
  position: relative;
  height: 70%;
  width: 100%;
  object-fit: scale-down;
}

.works__description {
  max-height: 25%;
  font-size: 1.125em;
  text-align: center;
  font-weight: 200;
}

@media screen and (max-width: 1040px) {
  .works__article {
    width: 45%;
    height: 45%;
    gap: 1em;
  }

  .works__instalations {
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
  }
}

@media screen and (max-width: 1285px) {
  .works__description {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 400px) {
  .works__instalations {
    width: 90%;
  }
}

/* Contact Styles */

.contact {
  position: relative;
  width: 100%;
  height: calc(100vh - 6.5em);
  background-image: url(img/contact-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}

.contact__filter {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.7);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  position: absolute;
  top: .75em;
  font-size: 2.25rem;
  color: #f8f8f8;
}

.contact__container {
  position: relative;
  width: 70%;
  min-height: 70%;
  display: flex;
  background-color: rgba(50, 50, 50, 0.8);
  padding: 2em;
  color: #efefef;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
}

.contact__conteinput {
  width: 100%;
  height: 3em;
  position: relative;
  overflow: hidden;
}

.contact__conteinput--message {
  height: auto;
  overflow-y: visible;
  padding-top: 1em;
}

.contact__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #efefef;

}

.contact__label--message {
  display: flex;
  align-items: center;
}

.contact__label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--primary-color);
  transform: translateX(100%);
  transition: all .5s ease;
}

.contact__label-s {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all .3s ease;
  color: #efefefbd;
}

.contact__label-s_message {
  bottom: .3em;
}

.contact__input {
  background: none;
  height: 3em;
  width: 100%;
  padding-top: 1em;
  color: #efefef;
  border: none;
  outline: 0px;
}

.contact__input--message {
  background: none;
  width: 100%;
  padding-top: 1em;
  color: #efefef;
  border: none;
  outline: 0px;
  resize: none;
}

.contact__input:focus+.contact__label .contact__label-s,
.contact__input:valid+.contact__label .contact__label-s {
  transform: translateY(-150%);
  font-size: .9em;
  color: var(--primary-color)
}

.contact__input--message:focus+.contact__label .contact__label-s_message,
.contact__input--message:valid+.contact__label .contact__label-s_message {
  transform: translateY(-6.6em);
  font-size: .9em;
  color: var(--primary-color);
}

.contact__input:focus+.contact__label:after,
.contact__input:valid+.contact__label:after,
.contact__input--message:focus+.contact__label:after,
.contact__input--message:valid+.contact__label:after {
  transform: translateX(0);
}

.contact__submit {
  position: absolute;
  bottom: 1.5em;
  right: 2em;
  display: inline-block;
  padding: 0.4em 1.25em;
  text-decoration: none;
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
  background: transparent;
  border-radius: 3px;
  transition: 0.3s;
}

.contact__submit:hover {
  background: var(--primary-color);
  color: white;
}

.contact__submit:focus {
  outline: none;
}

.contact__submit:active {
  outline: none;
}

/* Footer Styles */

.footer {
  position: relative;
  height: auto;
  padding: 2em 0;
  width: 100%;
  background-color: #252525;
  color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.footer__title {
  color: #cfcfcf;
  font-size: 1.2em;
  font-weight: 600;
  width: 100%;
  padding: 0 .2em;
  padding-bottom: .2em;
  border-bottom: 1px solid #efefef;
  text-align: left;
}

@media screen and (max-width: 650px) {
  .footer {
    width: 100%;
    max-width: 100%;
  }
}

.footer__container {
  font-size: 1.25em;
  position: relative;
  width: 100%;
  height: 5em;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__info,
.footer__links {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  min-width: 250px;
  align-items: center;
  gap: .5em;
}

.footer__link {
  width: 98%;
  display: flex;
  justify-content: space-between;
  font-size: .9em;
  font-weight: 300;
  text-decoration: none;
  color: rgba(239, 239, 239, 0.6);
  border-bottom: 2px solid transparent;
  padding: 0 .1em;
  padding-bottom: .15em;
  transition: all 500ms ease;
}

.footer__icon {
  font-size: 1.1em;
}

.footer__links .footer__link:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}

@media screen and (max-width: 560px) {

  .footer {
    gap: 1em;
  }

  .footer__info,
  .footer__links {
    font-size: .8em;
    min-width: 200px;
  }
}

@media screen and (max-width: 430px) {

  .footer {
    gap: 1em;
  }

  .footer__info,
  .footer__links {
    font-size: .7em;
    min-width: 180px;
  }

  .footer__container {
    flex-direction: column;
    gap: 1em;
    height: auto;
  }
}

@media screen and (max-height: 820px) {
  .contact__container {
    height: 90%;
  }
}

/* Go Up Button */

.button-up {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #c8c8c8;
  background-color: rgba(197, 102, 51, 1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  bottom: 25px;
  left: 25px;
  cursor: pointer;
  border: 3px solid transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.button-up:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgba(197, 102, 51, 0.8);
}