/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffa22e;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 6px;
}

::-webkit-scrollbar-track {

  background-color: #888c8f;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  max-width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
  font-family: 'Poppins', sans-serif;
  /* scroll-behavior: smooth; */
}

@media screen and (max-width: 650px) {

  html,
  body {
    width: 100%;
    max-width: 100%;
  }
}

main {
  width: auto;
}

/* Header Styles */

.header {
  top: 0;
  position: sticky;
  z-index: 10;
}

.header__nav {
  width: 100%;
  height: 6.5em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 4em;
  background-color: #f17d3e;
}

.header__nav--logo {
  height: 60px;
  margin-left: 1.5em;
}

.header__nav--menu {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  font-family: Roboto;
  font-weight: 500;
  padding: 0;
  width: auto;
  gap: 3em;
}

.header__nav--menu_articulo,
.header__nav--menu_articulo-a {
  display: flex;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  flex-wrap: nowrap;
  border-bottom: 2px solid rgba(239, 239, 239, 0);
}

.header__nav--menu_articulo:hover {
  border-bottom: 2px solid #efefef;
}

.header__icons {
  font-size: 1.5em;
  color: #efefef;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 900px) {
  .header__nav--menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 6.5em;
    right: 0;
    bottom: 0;
    background: rgba(60, 60, 60, 0.77);
    width: 45%;
    transform: translateX(400px);
    transition: all .3s ease-in-out;
  }

  .header__icons {
    display: block;
  }

  .header__icons #close {
    display: none;
  }
}

/* Main Styles */

.main {
  position: relative;
  width: 100%;
  height: 90vh;
  border-bottom: 2px solid #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1350px) {
  .main {
    width: 100%;
    max-width: 100%;
  }
}

.main__container {
  position: relative;
  width: 50%;
  height: 40%;
  display: flex;
}

.main__container--conlogo {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container--logo {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}

.main__container--info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3em;
  gap: 1em
}

.main__container--title {
  border-bottom: 2px solid #585858;
  padding-bottom: .5em;
  font-size: 2.25rem;
  letter-spacing: .1em;
  font-weight: 600;
}

.main__container--paragraph {
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width: 1350px) {
  .main__container {
    position: relative;
    flex-direction: column;
    height: 75%;
    width: 40%;
    gap: 2em;
  }

  .main__container--info {
    margin-left: 0;
    padding: 0;
  }

  .main__container--conlogo {
    align-self: flex-start;
  }
}

@media screen and (max-width: 1000px) {
  .main__container {
    width: 80%;
  }

  .main__container--conlogo {
    width: 28%;
  }
}

/* About Us Styles */

.aboutus {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  place-items: center;
  justify-content: center;
  background-image: url(img/vista1.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #c7c7c7;
}

@media screen and (max-width: 650px) {
  .aboutus {
    width: 100%;
    max-width: 100%;
  }
}

.aboutus__info {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.7);
  flex-direction: column;
  justify-content: center;
}

.aboutus__info--title {
  position: relative;
  left: 7.5%;
  display: inline-block;
  width: 40%;
  padding-bottom: 0.5em;
  color: #efefef;
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 2px solid #efefef;
}

.aboutus__info--paragraph {
  position: relative;
  left: 7.5%;
  display: inline-block;
  width: 40%;
  height: auto;
  color: #efefef;
  line-height: 2em;
  margin-top: 0.75em;
  font-weight: 550;
}

@media screen and (max-width: 650px) {

  .aboutus__info {
    align-items: center;
  }

  .aboutus__info--title,
  .aboutus__info--paragraph {
    width: 80%;
    left: 0;
  }
}

/* Works Styles */

.works {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  gap: 3em;
}

@media screen and (max-width: 900px) {
  .works {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 2em 0;
  }
}

.works__title {
  display: inline-block;
  width: 80%;
  color: #252525;
  font-size: 2rem;
  letter-spacing: .075em;
  font-weight: 600;
  padding-bottom: .5em;
  border-bottom: 3px solid #252525;
  text-align: center;
}

.works__instalations {
  min-height: auto;
  width: 80%;
  min-width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.works__article {
  position: relative;
  height: auto;
  width: 23%;
  min-width: 20%;
  background-color: #e6e6e6;
  box-shadow: 1px 1px 31px -9px rgba(0, 0, 0, 0.5);
  padding: 1em;
  display: flex;
  gap: 2em;
  flex-direction: column;
  object-fit: scale-down;
}

.works__image {
  max-height: 80%;
  width: 100%;
  object-fit: scale-down;
}

.works__description {
  max-height: 25%;
  font-size: 1.5em;
  text-align: center;
}

@media screen and (max-width: 900px) {

  .works__article {
    width: 45%;
    height: 45%;
    gap: 1em;
  }

  .works__instalations {
    flex-wrap: wrap;
    gap: 2em;
    align-items: center;
  }
}

/* Contact Styles */

.contact {
  position: relative;
  width: 100%;
  height: calc(90vh - 6.5em);
  background-image: url(img/contact-background.png);
  background-size: cover;
}

@media screen and (max-width: 650px) {
  .contact {
    width: 100%;
    max-width: 100%;
  }
}

.contact__filter {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.7);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__container {
  position: relative;
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3em;
  background-color: rgba(50, 50, 50, 0.8);
  padding: 2em;
  color: #efefef;
}

.contact__adresses {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__title {
  font-weight: 500;
  margin-bottom: 1em;
  border-bottom: 2px solid #efefef;
  padding-bottom: .2em;
  position: absolute;
  top: 1em;
}

.contact__link {
  text-decoration: none;
  display: flex;
  place-items: center;
  color: #efefef;
  position: relative;
  justify-content: space-between;
  padding: .25em .5em;
  margin-bottom: 1.5em;
  border-bottom: 2px solid rgba(239, 239, 239, 0);
}

.contact__link:hover {
  border-bottom: 2px solid #efefef;
}

.contact__icon {
  position: relative;
  left: 0;
}

.contact__paragraph {
  font-family: Roboto, sans-serif;
  font-size: 1.1em;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.contact__label {
  font-size: 1.1em;
  font-family: Roboto, sans-serif;
  margin-bottom: .5em;
  font-weight: 500;
}

.contact__input {
  background-color: transparent;
  border: none;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(239, 239, 239, 0.7);
  margin-bottom: 2em;
  color: rgba(199, 199, 199, 0.7);
  display: flex;
}

.contact__input:focus {
  outline: none;
  border-bottom: 1px solid #efefef;
}

.contact__input:active {
  outline: none;
  border-bottom: 1px solid #efefef;
  background-color: transparent;
}

.contact__submit {
  position: absolute;
  bottom: 1.5em;
  right: 2em;
  font-family: Roboto, sans-serif;
  border: none;
  background-color: rgba(90, 90, 90, 0.288);
  padding: .5em 1em;
  cursor: pointer;
}

.contact__submit:hover {
  background-color: rgba(199, 199, 199, 0.75);
}

.contact__submit:focus {
  outline: none;
}

.contact__submit:active {
  outline: none;
}

@media screen and (max-width: 865px) {
  .contact {
    height: auto;
    width: 100%;
    max-width: 100%;
  }

  .contact__container {
    width: 80%;
    gap: 1em;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    margin: 4em auto;
  }

  .contact__title {
    position: relative;
    top: 0;
  }
}

/* Footer Styles */

.footer {
  position: relative;
  height: 6.5em;
  width: 100%;
  background-color: #252525;
  color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .footer {
    width: 100%;
    max-width: 100%;
  }
}

.footer__logo {
  position: relative;
  width: 25%;
  text-align: center;
}

.footer__logo--img {
  height: 60px;
}

.footer__container {
  font-size: 1.25em;
  position: relative;
  width: 75%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-up {
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #c8c8c8;
  background-color: rgba(197, 102, 51, 1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  border: 3px solid transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.button-up:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgba(197, 102, 51, 0.8);
}